* {
    margin: 0;
}

body {
    font-size: 115%;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  	height: 100%;
  	margin: 0;
    padding: 0;
    background-color: white;
}

/* Header */

header {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    height: 45px;
    margin-bottom: 50px;
}

header a {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 20px;
}

header a:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

header img {
    width: 210px;
    height: 45px;
    margin: 0 auto;
}

header button {
    padding: 11px 12px 8px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #6288a5;
    border: 1px solid #326891;
    font-size: 11px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-right: 7px;
}

#menu-icon{
    height: 14px;
}

#menu-icon img{
    width: 27px;
    height: 14px;
}

#magnifying-glass {
 font-size: 1.8em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid black;
 position: relative;
 border-radius: 0.35em;
}

#magnifying-glass::before {
 content: "";
 display: inline-block;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background: black;
 width: 0.35em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

/* Container */

#container {
    margin: 0 auto;
    width: 1200px;
}

/* Article */

article h1 {
    width: 430px;
    margin: 25px auto;
    color: #121212;
    font-size: 2rem;
    font-style: italic;
}

.article-image {
    width: 100%;
    vertical-align: top;
}

.article-image img {
    height: auto;
    max-width: 100%;
}

.image-caption {
    width: 75%;
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 0.8175rem;
    line-height: 1rem;
    color: #666;
    margin-right: 7px;
    font-family: nyt-imperial,georgia,times new roman,times,serif;
}

.author {
    margin-left: 7px;
    font-size: 0.6rem;
    color: #999;
}

/* Article Main */

#article-main {
    width: 50%;
    margin: 0 auto;
}

/* Article Details */

#article-details {
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#article-details .date {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: #666;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

.social-toolbar button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid #eee;
    border-style: none;
    border-radius: 150px;
    background-color: #eee;
    margin-right: 10px;
    font-size: 0.7rem;
}

#article-author {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    color: black;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

#article-author a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    font-size: 0.75rem;
    color: black;
}

/* Article Content */

.article-content {
    font-size: 100%;
}

.article-content p {
    line-height: 1.6rem;
    font-size: 1.1rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-content p a {
    text-decoration: underline;
    color: #326891;
}

.article-content .subscribe {
    width: 50%;
    font-size: 80%;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.article-content .break-line {
    border-top: 1px solid #ccc;
    width: 72px;
    margin: 18px auto 18px;
}

.article-content .subscribe a {
    text-decoration: none;
    color: #326891;
}

.article-content .subtitle {
    font-weight: 700;
    font-size: 85%;
}

/* Story inserts */

.story {
   width: 100%;
}

.story h1 {
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
    font-family: cheltenham-normal-700,georgia,times new roman,times,serif;
    margin: 0;
    margin-bottom: 5px;
}

.story .intro {
    font-size: .775rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
    color: #666;
    margin-bottom: 7px;
}

.story .images {
    display: block;
    position: relative;
}

.story img {
    max-width: 100%;
    height: auto;
}

.story .txt {
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: black;
}

.story .txt-1 {
    position: absolute;
    top: 18%;
    left: 0.2%;
    width: 145px;
}

.story .txt-2 {
    position: absolute;
    top: 18%;
    left: 25%;
    width: 145px;
}

.story .txt-3 {
    position: absolute;
    top: 18%;
    left: 50%;
    width: 145px;
}

.story .txt-4 {
    position: absolute;
    top: 18%;
    left: 75%;
    width: 145px;
}

.story .txt-5 {
    position: absolute;
    top: 65%;
    left: 0.2%;
    width: 145px;
}

.story .txt-6 {
    position: absolute;
    top: 65%;
    left: 25%;
    width: 145px;
}

.story .txt-7 {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 145px;
}

.story .txt-8 {
    position: absolute;
    top: 65%;
    left: 75%;
    width: 145px;
}

.story b {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
}

.story .author::before {
    width: 60px;
    content: '';
    display: block;
    height: 1px;
    margin: 40px 0 12px 0;
    background-color: black;
}

.story .author {
    display: block;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    margin: 0;
    margin-bottom: 50px;
    color: black;
}

/* inserts */

.insert {
    width: 100%;
}

.insert .image-caption {
    margin-bottom: 5px;
    width: 100%;
}

.insert .author {
    margin: 0;
    margin-bottom: 50px;
}

.insert img {
    max-width: 100%;
}

/* Article footer */

#article-footer {
    width: 50%;
    margin: 0 auto;
}

#article-footer p {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    line-height: 0.9rem;
    font-size: 0.64rem;
    color: #999;
    margin-bottom: 30px;
}

/* further reading section */

#further-reading{
    width: 100%;
}

#trending::before {
    width: 95%;
    content: '';
    display: block;
    height: 1px;
    margin: 40px 0 12px 0;
    background-color: black;
}

#trending {
    float: right;
    width: 25%;
}

#trending a {
    text-decoration: none;
    color: black;
    line-height: 1.25rem;
    font-family: nyt-cheltenham,georgia,times new roman,times,serif;
    font-size: 1rem;
    font-weight: 500;
}

#trending hr {
    border: 0.5px solid #e2e2e2;
    border-style: solid;
    margin: 15px 0;
}

#more::before {
    width: 95%;
    content: '';
    display: block;
    height: 1px;
    margin: 40px 0 12px 0;
    background-color: black;
}

#more {
    float: left;
    width: 75%;
}

.previews {
    margin-top: 30px;
    width: 100%;
}

.preview {
    display: inline-block;
    width: 270px;
    height: 300px;
    margin: 0;
}

.preview img {
    width: 260px;
    height: 172px;
}

.preview .author {
    margin: 0;
    margin-bottom: 10px;
}

.preview a {
    font-size: 17px;
    line-height: 22px;
    color: #121212;
    text-decoration: none;
}

.preview .date {
    color: #999;
    letter-spacing: .3px;
    font-size: 14px;
    margin-top: 10px;
}

#editor-picks::before {
    width: 95%;
    content: '';
    display: block;
    height: 1px;
    margin: 40px 0 12px 0;
    background-color: black;
}

#editor-picks {
    float: left;
    width: 75%;
}

/* Sidebar */

#sidebar {
    float: right;
    height: 100%;
}

/* Footer */

footer::before {
    clear: both;
    width: 100%;
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px solid rgb(226,226,226);
    border-top: 2px solid rgb(226,226,226);
}

footer {
    width: 1200px;
    margin: 0 auto;
}

footer img {
    width: 210px;
    height: 40px;
    
}